<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.capstone.cofflyze">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|locale|layoutDirection|fontScale"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Cofflyze">

        <!-- SplashActivity sebagai Activity pertama -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="Cofflyze"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activity untuk Onboarding -->
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false"
            android:label="Onboarding" /> <!-- MainActivity yang dapat dinavigasi dari Onboarding atau bagian lain -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Main"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:theme="@style/Theme.Cofflyze" /> <!-- Activity untuk Login dan SignUp -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|locale|layoutDirection|fontScale"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.OtpActivity"
            android:exported="false" /> <!-- Activity untuk Result -->
        <activity
            android:name=".ui.scan.ResultActivity"
            android:exported="false" /> <!-- UCropActivity untuk pengeditan gambar -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>